{% extends "master3.html"%}

{% load static %}

{% block body%}
<br>
<br>

<table id="formid">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Age</th>
      <th>Test</th>
      <th>Amount</th>
      <th>Result</th>
    </tr>
    <tr>
      <td>04/12/2023</td>
      <td>Ayush</td>
      <td>35 years</td>
      <td>Dengue</td>
      <td>125 Rupees</td>
      <td>Positive</td>
    </tr>
    <tr>
        <td>04/12/2023</td>
      <td>Ayush</td>
      <td>35 years</td>
      <td>Malaria</td>
      <td>150 Rupees</td>
      <td>Negative</td>
    </tr>
    <tr>
        <td>12/04/2024</td>
      <td>Ayush</td>
      <td>35 years</td>
      <td>Thyroid</td>
      <td>300 Rupees</td>
      <td>Normal</td>
    </tr>
    <tr>
        <td>18/04/2024</td>
      <td>Ayush</td>
      <td>35 years</td>
      <td>CBC</td>
      <td>90 Rupees</td>
      <td>Normal</td>
    </tr>

  </table>
  

{% endblock%}

