{% extends "master.html"%}


{% load static %}

{% block body%}

<div style="text-align: center;">
    <img src="https://media.istockphoto.com/id/1312706504/photo/modern-hospital-building.jpg?s=1024x1024&w=is&k=20&c=j7XqHjwQKT9-xeByphN1IT57WcR1ltFr9olUqZ0s9pY=" alt="" width="90%" >
</div>
<div style="text-align: center;">
    <img src="https://media.istockphoto.com/id/482858629/photo/doctors-hospital-corridor-nurse-pushing-gurney-stretcher-bed.jpg?s=1024x1024&w=is&k=20&c=hla99x9I9ea2sfYNi-ZSQWjjDdfQ0YrcZppZ1jLhde0=" width="90%">
</div>
{% endblock%}